@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        
        background-image: url('~/Images/bg.jpg'); /* Replace with the path to your background image */
        background-size: cover; /* This will cover the entire viewport */
        background-repeat: no-repeat;
        background-attachment: fixed; /* Ensures the background stays fixed as you scroll */
    }
</style>
<h1>Best Laptops Available Here<img src="~/images/hp.png" width="60%" height="70%" /></h1>